# -------------------------------------------------------------------------------------------------
#   Basics
# -------------------------------------------------------------------------------------------------

+rename_function my_weird_cpp_func my_weird_python_func
+rename_function my_other_cpp_func(int) my_other_python_func

+rename_class MyCppStruct MyPythonStruct
+rename_function MySecondStruct::my_cpp_func my_python_func

+rename_class MyOtherCppStruct MyOtherPythonStruct
+rename_function MyOtherCppStruct::some_weird_cpp_func some_weird_python_func
+rename_function MyOtherCppStruct::some_other_cpp_func(int) some_other_python_func

# -------------------------------------------------------------------------------------------------
#   Function Templates
# -------------------------------------------------------------------------------------------------

+rename_function tagged_function<int>() tagged_function_int
+rename_function tagged_function<std::string>() tagged_function_str

+rename_function tagged_cpp_function tagged_python_function

# -------------------------------------------------------------------------------------------------
#   Types
# -------------------------------------------------------------------------------------------------

+rename_class NumericalClass<unsigned char>  NumericalClass_uint8_t
+rename_class NumericalClass<unsigned short> NumericalClass_uint16_t
+rename_class NumericalClass<unsigned int>   NumericalClass_uint32_t
+rename_class NumericalClass<unsigned long>  NumericalClass_uint64_t

# -------------------------------------------------------------------------------------------------
#   Namespaces
# -------------------------------------------------------------------------------------------------

+rename_class foo::bar::TaggedClass<foo::bar::Tag> TaggedClass_Tag
+rename_function foo::bar::TaggedClass<foo::bar::Tag>::another_cpp_func another_python_func
